*{
    padding: 0;
    margin: 0;
}

#grilla{
    width: 100%;
    height: 100%;
    display: grid;
    background-image: radial-gradient(circle at center center, transparent,rgb(255,255,255)),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 12px,transparent 12px, transparent 19px,rgb(255,255,255) 19px, rgb(255,255,255) 24px,transparent 24px, transparent 28px),repeating-linear-gradient(45deg, rgb(245,245,245) 0px, rgb(245,245,245) 7px,transparent 7px, transparent 14px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

header{
width: 100%;
height: 100%;
}

body{
    font-family: 'Raleway', sans-serif;
}

main{
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10px;
}
/* CLASES ANIMACIONES */

.redes{
    width: 30px;
    height: 30px;
}

.sombras{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.imagenes2{
    width: 15px;
    height: 200px;
}
/* INDEX */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/passport-g5aad920c0_1920.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: white;
    color: white;
  }

/*---------------MEDIA QUERIES----------*/

/*SMALL*/
@media only screen and (max-width:768px){

    #grilla{
        background-color: white;
        grid-template-columns: 100%;
        grid-template-rows: 7% 83% 10%;
        grid-template-areas: "nav"
                             "main"
                             "footer";
    }
    
    header{
        grid-area: nav;
    }
    main{
        grid-area: main;    
    }
    
    footer{
        grid-area: footer;
    }

    #content_servicios{
        display: grid;
        grid-template-columns: 85%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        justify-content: space-evenly;
        align-content: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .imagenes{
        width: 100px;
        height: 300px;
    }

    #tarjeta1{
        grid-area: area1;
    }
    #tarjeta2{
        grid-area: area2;
    }
    #tarjeta3{
        grid-area: area3;
    }
    #tarjeta4{
        grid-area: area4;
    }

    /* CONTACTO */
    #content_form_hijo3{
        color:white;
        margin-bottom: 4%;

    }

}

/*MEDIUM*/

@media only screen and (min-width: 768px){

    #grilla{
        background-color: white;
        grid-template-columns: 100%;
        grid-template-rows: 7% 83% 10%;
        grid-template-areas: "nav"
                             "main"
                             "footer";
    }
    
    #content_exp{
        display: grid;
        grid-template-columns: 40% 40% ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "card1 card2"
                             "card3 card4"
                             "card5 card6";
        justify-content: space-around;
        margin: 3% 0% 5% 0%;
        
    }

    #content_form{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contenido ubicacion"
                             "formulario formulario";
        justify-content: space-around;
        margin-top: 3%;
    }

    #content_form_hijo1{
        grid-area: contenido;
    }

    #content_form_hijo2{
        grid-area: ubicacion;
    }

    #content_form_hijo3{
        grid-area: formulario;
        color: white;
        margin-bottom: 4%;

    }

    #content_servicios{
        display: grid;
        grid-template-columns: 85%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        justify-content: space-around;
        align-content: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .imagenes{
        max-width: 100%;
        height: 292px;
    }

    #tarjeta1{
        grid-area: area1;
    }
    #tarjeta2{
        grid-area: area2;
    }
    #tarjeta3{
        grid-area: area3;
    }
    #tarjeta4{
        grid-area: area4;
    }

    header{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

}

/*LARGE*/

@media only screen and (min-width: 1200px){

    #grilla{
    
        background-color: white;
        grid-template-columns: 100%;
        grid-template-rows: 7% 83% 10%;
        grid-template-areas: "nav"
                             "main"
                             "footer";
    }

    #content_exp{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "card1 card2 card3"
                             "card4 card5 card6";
        justify-content: space-around;
        margin: 3% 0% 5% 0%;
        
    }

    #content_form{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contenido ubicacion"
                             "formulario formulario";
        justify-content: space-around;
        
    }

    #content_form_hijo1{
        grid-area: contenido;
    }

    #content_form_hijo3{
        grid-area: ubicacion;
    }

    #content_form_hijo3{
        grid-area: formulario;
        color: white;
        margin-bottom: 4%;
    }

    #content_servicios{
        display: grid;
        grid-template-columns: 85%;
        grid-template-rows: 20% 20% 20% 20%;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        justify-content: space-around;
        align-content: center;
        margin-top: 5%;
        margin-bottom: 3%;
       
    }

    .imagenes{
        max-width: 100%;
        height: 292px;
    }

    #tarjeta1{
        grid-area: area1;
    }
    #tarjeta2{
        grid-area: area2;
    }
    #tarjeta3{
        grid-area: area3;
    }
    #tarjeta4{
        grid-area: area4;
    }

    header{
        grid-area: nav;
    }

    main{
        grid-area: main;
    }

    footer{
        grid-area: footer;
    }

}