*{
    padding: 0;
    margin: 0;
}
@mixin tama単os_imagenes($width,$height){
    height: $height;
    width: $width;
}

@mixin contenido_form3{
    color: white;
    margin-bottom: 4%;
    padding-bottom: 4%;

}

#grilla{
    width: 100%;
    height: 100%;
    display: grid;
    background-image: linear-gradient(55deg, rgba(208, 208, 208, 0.03) 0%, rgba(208, 208, 208, 0.03) 20%,rgba(55, 55, 55, 0.03) 20%, rgba(55, 55, 55, 0.03) 40%,rgba(81, 81, 81, 0.03) 40%, rgba(81, 81, 81, 0.03) 60%,rgba(208, 208, 208, 0.03) 60%, rgba(208, 208, 208, 0.03) 80%,rgba(191, 191, 191, 0.03) 80%, rgba(191, 191, 191, 0.03) 100%),linear-gradient(291deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 14.286%,rgba(105, 105, 105, 0.02) 14.286%, rgba(105, 105, 105, 0.02) 28.572%,rgba(230, 230, 230, 0.02) 28.572%, rgba(230, 230, 230, 0.02) 42.858%,rgba(216, 216, 216, 0.02) 42.858%, rgba(216, 216, 216, 0.02) 57.144%,rgba(181, 181, 181, 0.02) 57.144%, rgba(181, 181, 181, 0.02) 71.42999999999999%,rgba(129, 129, 129, 0.02) 71.43%, rgba(129, 129, 129, 0.02) 85.71600000000001%,rgba(75, 75, 75, 0.02) 85.716%, rgba(75, 75, 75, 0.02) 100.002%),linear-gradient(32deg, rgba(212, 212, 212, 0.03) 0%, rgba(212, 212, 212, 0.03) 12.5%,rgba(223, 223, 223, 0.03) 12.5%, rgba(223, 223, 223, 0.03) 25%,rgba(11, 11, 11, 0.03) 25%, rgba(11, 11, 11, 0.03) 37.5%,rgba(86, 86, 86, 0.03) 37.5%, rgba(86, 86, 86, 0.03) 50%,rgba(106, 106, 106, 0.03) 50%, rgba(106, 106, 106, 0.03) 62.5%,rgba(220, 220, 220, 0.03) 62.5%, rgba(220, 220, 220, 0.03) 75%,rgba(91, 91, 91, 0.03) 75%, rgba(91, 91, 91, 0.03) 87.5%,rgba(216, 216, 216, 0.03) 87.5%, rgba(216, 216, 216, 0.03) 100%),linear-gradient(312deg, rgba(113, 113, 113, 0.01) 0%, rgba(113, 113, 113, 0.01) 14.286%,rgba(54, 54, 54, 0.01) 14.286%, rgba(54, 54, 54, 0.01) 28.572%,rgba(166, 166, 166, 0.01) 28.572%, rgba(166, 166, 166, 0.01) 42.858%,rgba(226, 226, 226, 0.01) 42.858%, rgba(226, 226, 226, 0.01) 57.144%,rgba(109, 109, 109, 0.01) 57.144%, rgba(109, 109, 109, 0.01) 71.42999999999999%,rgba(239, 239, 239, 0.01) 71.43%, rgba(239, 239, 239, 0.01) 85.71600000000001%,rgba(54, 54, 54, 0.01) 85.716%, rgba(54, 54, 54, 0.01) 100.002%),linear-gradient(22deg, rgba(77, 77, 77, 0.03) 0%, rgba(77, 77, 77, 0.03) 20%,rgba(235, 235, 235, 0.03) 20%, rgba(235, 235, 235, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(181, 181, 181, 0.03) 60%, rgba(181, 181, 181, 0.03) 80%,rgba(193, 193, 193, 0.03) 80%, rgba(193, 193, 193, 0.03) 100%),linear-gradient(80deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 14.286%,rgba(114, 114, 114, 0.02) 14.286%, rgba(114, 114, 114, 0.02) 28.572%,rgba(240, 240, 240, 0.02) 28.572%, rgba(240, 240, 240, 0.02) 42.858%,rgba(221, 221, 221, 0.02) 42.858%, rgba(221, 221, 221, 0.02) 57.144%,rgba(74, 74, 74, 0.02) 57.144%, rgba(74, 74, 74, 0.02) 71.42999999999999%,rgba(201, 201, 201, 0.02) 71.43%, rgba(201, 201, 201, 0.02) 85.71600000000001%,rgba(187, 187, 187, 0.02) 85.716%, rgba(187, 187, 187, 0.02) 100.002%),linear-gradient(257deg, rgba(72, 72, 72, 0.03) 0%, rgba(72, 72, 72, 0.03) 16.667%,rgba(138, 138, 138, 0.03) 16.667%, rgba(138, 138, 138, 0.03) 33.334%,rgba(54, 54, 54, 0.03) 33.334%, rgba(54, 54, 54, 0.03) 50.001000000000005%,rgba(161, 161, 161, 0.03) 50.001%, rgba(161, 161, 161, 0.03) 66.668%,rgba(17, 17, 17, 0.03) 66.668%, rgba(17, 17, 17, 0.03) 83.33500000000001%,rgba(230, 230, 230, 0.03) 83.335%, rgba(230, 230, 230, 0.03) 100.002%),linear-gradient(47deg, rgba(191, 191, 191, 0.01) 0%, rgba(191, 191, 191, 0.01) 16.667%,rgba(27, 27, 27, 0.01) 16.667%, rgba(27, 27, 27, 0.01) 33.334%,rgba(66, 66, 66, 0.01) 33.334%, rgba(66, 66, 66, 0.01) 50.001000000000005%,rgba(36, 36, 36, 0.01) 50.001%, rgba(36, 36, 36, 0.01) 66.668%,rgba(230, 230, 230, 0.01) 66.668%, rgba(230, 230, 230, 0.01) 83.33500000000001%,rgba(93, 93, 93, 0.01) 83.335%, rgba(93, 93, 93, 0.01) 100.002%),linear-gradient(90deg, #ffffff,#ffffff);
}

body{
    font-family: 'Raleway', sans-serif;
    header{
        width: 100%;
        height: 100%;
        z-index: 9;
        }

    main{
            width: 100%;
            height: 100%;
                
            h1{
            margin-top: 5%;
            }

            article{
            margin-top: 7%;
            }

            legend{
            text-align: center;
            }
        }    
    
    footer{
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 10px;
        }    
}




/* CLASES ANIMACIONES */

.redes{
    width: 30px;
    height: 30px;
}

.sombras{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.imagenes2{
    width: 15px;
    height: 200px;
}



/* BOTON CONTACTO */
.boton_contacto {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .boton_contacto .span_contacto {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .boton_contacto svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .boton_contacto:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .boton_contacto:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   .boton_contacto:hover .span_contacto {
    transform: translateX(5em);
   }
   
   .boton_contacto:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   /* BOTON EXPERIENCIAS */

   .boton_experiencias {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    margin-left: 50px;
   }
   
   .boton_experiencias .span_experiencias {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid royalblue;
   }
   
   .boton_experiencias .span_experiencias::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   .boton_experiencias:hover .span_experiencias::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: royalblue;
   }
   
   .boton_experiencias:hover {
    color: white;
   }
   
   .boton_experiencias:active .span_experiencias::before {
    background: #2751cd;
   }

   
/* INDEX */
.text__index{
    font-size:50px;
    font-family: 'Raleway', sans-serif;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/passport-g5aad920c0_1920.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: white;
    color: blue;
  }

/*---------------MEDIA QUERIES----------*/

/*SMALL*/
@media only screen and (max-width:768px){

    #grilla{
        grid-template-columns: 100%;
        grid-template-rows: 7% 88% 5%;
        grid-template-areas: "nav"
                             "main"
                             "footer";
            header{
                    grid-area: nav;
                  }
            main{
                    grid-area: main;    
                  }
                            
            footer{
                    grid-area: footer;
                  }
    }
    
    

    #content_servicios{
        display: grid;
        grid-template-columns: 85%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        justify-content: space-evenly;
        align-content: center;
        margin-top: 5%;
        margin-bottom: 3%;

        .imagenes{
            /*
            max-width: 100%;
            height: 300px;
            */
            @include tama単os_imagenes(100%,300px)
        }
    
        #tarjeta1{
            grid-area: area1;
            margin-bottom: 4%;
        }
        #tarjeta2{
            grid-area: area2;
        }
        #tarjeta3{
            grid-area: area3;
        }
        #tarjeta4{
            grid-area: area4;
        }
    }

    /* CONTACTO */
    #content_form_hijo3{
        color:white;
    }

}

/*MEDIUM*/

@media only screen and (min-width: 768px){

    #grilla{
        grid-template-columns: 100%;
        grid-template-rows: 7% 83% 10%;
        grid-template-areas: "nav"
                             "main"
                             "footer";


                             header{
                                grid-area: nav;
                            }
                        
                            main{
                                grid-area: main;
                            }
                        
                            footer{
                                grid-area: footer;
                            }
                        
    }
    
    #content_exp{
        display: grid;
        grid-template-columns: 40% 40% ;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "card1 card2"
                             "card3 card4"
                             "card5 card6";
        justify-content: space-around;
        margin: 3% 0% 5% 0%;
        
    }

    #content_form{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "contenido ubicacion"
                             "formulario formulario";
        justify-content: space-evenly;
        margin-top: 4%;

        #content_form_hijo1{
            grid-area: contenido;
        }
    
        #content_form_hijo2{
            grid-area: ubicacion;
        }
    
        #content_form_hijo3{
            /*
            grid-area: formulario;
            color: white;
            margin-bottom: 4%;
            padding-bottom: 4%;
            */
            @include contenido_form3;
        }
    }

    

    #content_servicios{
        display: grid;
        grid-template-columns: 85%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        justify-content: space-around;
        align-content: center;
        margin-top: 5%;

        .imagenes{
            /*
            max-width: 100%;
            height: 292px;
            */
            @include tama単os_imagenes(100%,292px)
        }
    
        #tarjeta1{
            grid-area: area1;
            margin-bottom: 4%;
    
        }
        #tarjeta2{
            grid-area: area2;
        }
        #tarjeta3{
            grid-area: area3;
        }
        #tarjeta4{
            grid-area: area4;
        }
    }
}

/*LARGE*/

@media only screen and (min-width: 1200px){

    #grilla{
    
        grid-template-columns: 100%;
        grid-template-rows: 7% 85% 8%;
        grid-template-areas: "nav"
                             "main"
                             "footer";

                             header{
                                grid-area: nav;
                            }
                        
                            main{
                                grid-area: main;
                            }
                        
                            footer{
                                grid-area: footer;
                                
                            }
    }

    #content_exp{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "card1 card2 card3"
                             "card4 card5 card6";
        justify-content: center;
        margin: 5% 0% 2% 0%;
        
    }

    #content_form{
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 45% 45%;
        grid-template-areas: "contenido ubicacion"
                             "formulario formulario";
        justify-content: space-around;
        margin-top: 4%;

        #content_form_hijo1{
            grid-area: contenido;
        }
    
        #content_form_hijo2{
            grid-area: ubicacion;
        }
    
        #content_form_hijo3{
            /*
            grid-area: formulario;
            color: white;
            margin-bottom: 4%;
            padding-bottom: 4%;
            */
            @include contenido_form3;
        }
        
    }


    #content_servicios{
        display: grid;
        grid-template-columns: 85%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "area1"
                             "area2"
                             "area3"
                             "area4";
        justify-content: center;
        align-content: center;
        
        .imagenes{
            /*
            max-width: 100%;
            height: 292px;
            */
         @include tama単os_imagenes(100%,292px)
        }
    
        #tarjeta1{
            grid-area: area1;
            margin-bottom: 4%;
            
        }
        #tarjeta2{
            grid-area: area2;
        }
        #tarjeta3{
            grid-area: area3;
        }
        #tarjeta4{
            grid-area: area4;
        }
    
       
    }

    
    

}